<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styling/s2.css">
</head>

<body>
    <div class="container"> <!-- Added a container for better layout -->
        <form action="/read" method="post">
            <div>
                <h1>Welcome back</h1>
            </div>
            <div>
                <input class="input-field" type="email" name="email" id="email" placeholder="Enter Email">
            </div>
            <div>
                <input class="input-field" type="password" name="password" placeholder="Enter Password">
            </div>
            <div>
                <input type="submit" name="login" id="submit" value="SUBMIT">
            </div>
        </form>

        <div class="sign-up-box">
            <p>NOT REGISTERED?</p>
            <button id="signup-button" type="button" onclick="window.location.href='/index'">Sign up</button>
        </div>
    </div>
</body>

</html>
