<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styling/s4.css">
</head>
<body>
    <div class="container">
        <form action="/sread" method="post">
            <div>
                <h1>Login as Seller</h1>
            </div>
            <div><input class="px-5 py-3 bg-transparent" type="email" name="email" id="email" placeholder="enter Email"></div>
            <div><input class="px-5 py-3 bg-transparent" type="password" name="password" placeholder="enter password"></div>
            <div>
                <input type="submit" name="login" id="submit" value="Login">
            </div>
        </form>

        <!-- New box for registration suggestion -->
        <div class="register-box">
            <h2>Not registered as a seller?</h2>
            <button onclick="window.location.href='/register'">Register as Seller</button>
        </div>
    </div>
</body>
</html>
