<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Sign Up</title>
    <link rel="stylesheet" href="/styling/s3.css"> 
</head>

<body>
    <div class="box1"></div>
    <form action="/createseller" method="post">
        <div class="box2">
            <h1>Seller Sign Up</h1>
            <div class="primary_input">
                <label for="name">Name:</label>
                <input class="px-5 py-3 bg-transparent" type="text" name="name" placeholder="Enter Name" id="name" required>
            </div>
            <div class="primary_input">
                <label for="email">Email:</label>
                <input class="px-5 py-3 bg-transparent" type="email" name="email" id="email" placeholder="Enter Email" required>
            </div>
            <div class="primary_input">
                <label for="password">Password:</label>
                <input class="px-5 py-3 bg-transparent" type="password" name="password" placeholder="Enter Password" id="password" required>
            </div>
            <div>
                <input class="input1" type="submit" value="Create Profile">
            </div>
        </div>
    </form>
    <div class="box2">
        <p style="text-align: center; color: white;">Already a Seller?</p>
        <a href="/login" class="input1">Login as Seller</a>
    </div>
</body>
</html>
